openapi: 3.0.1
info:
  contact:
    name: MongoDB Cloud Support
    url: https://www.mongodb.com/support/get-started
  description: |-
    The MongoDB Atlas Administration API allows developers to manage all components in MongoDB Atlas.
    To learn more, review the [Administration API overview](https://www.mongodb.com/docs/atlas/api/atlas-admin-api/).
    This OpenAPI specification covers all of the collections with the exception of Alerts, Alert Configurations, and Events. Refer to the [legacy documentation](https://www.mongodb.com/docs/atlas/reference/api-resources/) for the specifications of these resources.
  license:
    name: SSPL
    url: https://www.mongodb.com/licensing/server-side-public-license
  termsOfService: https://www.mongodb.com/mongodb-management-service-terms-and-conditions
  title: MongoDB Atlas Administration API
  version: "1.0"
servers:
- url: https://cloud.mongodb.com
tags:
- description: Returns access logs for authentication attempts made to MongoDB Cloud
    database deployments.
  name: Access Tracking
- description: Returns and edits the conditions that trigger alerts and how MongoDB
    Cloud notifies users. This collection remains under revision and may change. Refer
    to the legacy documentation for this collection in the following link.
  externalDocs:
    description: Alert Configurations API Legacy Documentation
    url: https://www.mongodb.com/docs/atlas/reference/api/alert-configurations/
  name: Alert Configurations
- description: Returns and acknowledges alerts that MongoDB Cloud triggers based on
    the alert conditions that you define. This collection remains under revision and
    may change. Refer to the legacy documentation for this collection in the following
    link.
  externalDocs:
    description: Alerts API Legacy Documentation
    url: https://www.mongodb.com/docs/atlas/reference/api/alerts/
  name: Alerts
- description: "Returns, adds, edits, and removes Atlas Search indexes. Also returns\
    \ and updates user-defined analyzers."
  name: Atlas Search
- description: Returns and edits database auditing settings for MongoDB Cloud projects.
  name: Auditing
- description: "Returns, takes, edits, and removes Cloud Backup snapshots."
  name: Cloud Backups
- description: "Returns, adds, and removes Cloud Backup snapshot export buckets. Also\
    \ returns and adds Cloud Backup export jobs."
  name: Cloud Backup Export
- description: "Returns, starts, and cancels Cloud Backup restore jobs."
  name: Cloud Backup Restore Jobs
- description: "Returns, edits, and removes Cloud Backup schedules."
  name: Cloud Backup Schedule
- description: Manages the Cloud Migration Service.
  name: Cloud Migration Service
- description: "Returns, adds, authorizes, and removes AWS IAM roles in Atlas."
  name: Cloud Provider Access
- description: "Returns, starts, or ends a cluster outage simulation."
  name: Cluster Outage Simulation
- description: "Returns, adds, edits, and removes database deployments."
  name: Clusters
- description: Returns and edits custom DNS configurations for Atlas database deployments
    on AWS.
  name: Custom DNS for Atlas Clusters Deployed to AWS
- description: "Returns, adds, edits, and removes custom database user privilege roles."
  name: Custom Database Roles
- description: "Returns, adds, edits, and removes database users."
  name: Database Users
- description: "Returns, adds, edits, and removes Federated Database Instances."
  name: Data Federation
- description: "Returns, adds, and removes all private endpoints for Federated Database\
    \ Instances and Online Archives in the specified project."
  name: Data Federation Private Networks
- description: "Returns, adds, edits, and removes Atlas Data Lake Pipelines and associated\
    \ runs."
  name: Data Lake Pipelines
- description: Returns and edits the Encryption at Rest using Customer Key Management
    configuration.
  name: Encryption at Rest using Customer Key Management
- description: Returns events. This collection remains under revision and may change.
    Refer to the legacy documentation for this collection in the following link.
  externalDocs:
    description: Events API Legacy Documentation
    url: https://www.mongodb.com/docs/atlas/reference/api/events/
  name: Events
- description: "Returns, adds, edits, and removes federation-related features such\
    \ as role mappings and connected organization configurations."
  name: Federated Authentication
- description: "Returns, adds, and removes Global Cluster managed namespaces and custom\
    \ zone mappings."
  name: Global Clusters
- description: Returns invoices.
  name: Invoices
- description: "Returns, edits, verifies, and removes LDAP configurations."
  name: LDAP Configuration
- description: "Returns, removes, and edits the expiration date of Legacy Backup snapshots."
  name: Legacy Backup Snapshots
- description: Returns and adds restore jobs for database deployments that use Legacy
    Backups.
  name: Legacy Backup Restore Jobs
- description: Returns Legacy Backup Checkpoint metadata. Checkpoints serve as additional
    restore points for sharded clusters at points in time between regular snapshots.
  name: Legacy Backup Checkpoints
- description: Returns and edits Legacy Backup snapshot schedules.
  name: Legacy Backup Snapshot Schedule
- description: "Returns, edits, and removes maintenance windows."
  name: Maintenance Windows
- description: "Returns, adds, and edits MongoDB Cloud users."
  name: MongoDB Cloud Users
- description: Returns database deployment monitoring and logging data.
  name: Monitoring and Logs
- description: "Returns, adds, edits, or removes multi-cloud clusters."
  name: Multi-Cloud Clusters
- description: "Returns, adds, edits, and removes network peering containers and peering\
    \ connections."
  name: Network Peering
- description: "Returns, adds, edits, and removes network peering connections."
  name: Network Peering Connections
- description: "Returns, adds, edits, and removes network peering containers."
  name: Network Peering Containers
- description: "Returns, adds, edits, or removes an online archive."
  name: Online Archive
- description: "Returns, adds, and edits organizational units in MongoDB Cloud."
  name: Organizations
- description: Returns suggested indexes and slow query data for a database deployment.
    Also enables or disables MongoDB Cloud-managed slow operation thresholds.
  name: Performance Advisor
- description: "Returns, adds, edits, and removes private endpoint services."
  name: Private Endpoint Services
- description: "Returns, adds, edits, and removes access tokens to use the MongoDB\
    \ Cloud API. MongoDB Cloud applies these keys to organizations. These resources\
    \ can return, assign, or revoke use of these keys within a specified project."
  name: Programmatic API Keys
- description: "Returns, adds, edits, and removes network access limits to database\
    \ deployments in MongoDB Cloud."
  name: Project IP Access List
- description: "Returns, adds, and edits collections of clusters and users in MongoDB\
    \ Cloud."
  name: Projects
- description: Creates one index to a database deployment in a rolling manner.
  name: Rolling Index
- description: Returns details that describe the MongoDB Cloud build and the access
    token that requests this resource. This starts the MongoDB Cloud API.
  name: Root
- description: "Returns, adds, edits, and removes serverless instances."
  name: Serverless Instances
- description: "Returns, adds, edits, and removes private endpoints for serverless\
    \ instances. To learn more, see the Atlas Administration API tab on the following\
    \ tutorial."
  externalDocs:
    description: Set Up a Private Endpoint for a Serverless Instance Tutorial
    url: https://dochub.mongodb.org/core/serverless-private-endpoint
  name: Serverless Private Endpoints
- description: Returns and adds restore jobs for shared-tier database deployments.
  name: Shared-Tier Restore Jobs
- description: Returns and requests to download shared-tier database deployment snapshots.
  name: Shared-Tier Snapshots
- description: "Returns, adds, edits, or removes teams."
  name: Teams
- description: "Returns, adds, edits, and removes third-party service integration\
    \ configurations. MongoDB Cloud sends alerts to each third-party service that\
    \ you configure."
  name: Third-Party Service Integrations
- description: "Returns, edits, and removes user-managed X.509 configurations. Also\
    \ returns and generates MongoDB Cloud-managed X.509 certificates for database\
    \ users. The following resources help manage database users who authenticate using\
    \ X.509 certificates. You can manage these X.509 certificates or let MongoDB Cloud\
    \ do it for you. If MongoDB Cloud manages your certificates, it also manages your\
    \ Certificate Authority and can generate certificates for your database users.\
    \ No additional X.509 configuration is required. If you manage your certificates,\
    \ you must provide a Certificate Authority and generate certificates for your\
    \ database users."
  externalDocs:
    description: Self-Managed X.509 Certificates
    url: https://www.mongodb.com/docs/atlas/security-self-managed-x509/
  name: X.509 Authentication for Database Users
paths:
  /api/atlas/v1.0:
    get:
      description: This resource returns information about the MongoDB application
        along with API key meta data.
      operationId: getSystemStatus
      parameters:
      - description: "Flag that indicates whether Application wraps the response in\
          \ an `envelope` JSON object. Some API clients cannot access the HTTP response\
          \ headers or status code. To remediate this, set envelope=true in the query.\
          \ Endpoints that return a list of results use the results object as an envelope.\
          \ Application adds the status parameter to the response body."
        explode: true
        in: query
        name: envelope
        required: false
        schema:
          default: false
          example: false
          type: boolean
        style: form
      - description: Flag that indicates whether the response body should be in the
          prettyprint format.
        explode: true
        in: query
        name: pretty
        required: false
        schema:
          default: false
          example: false
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiSystemStatusView'
          description: OK
        "401":
          content:
            application/json:
              example:
                detail: "(This is just an example, the exception may not be related\
                  \ to this endpoint)"
                error: 401
                errorCode: NOT_ORG_GROUP_CREATOR
                parameters:
                - EXAMPLE
                reason: Unauthorized
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Unauthorized
        "404":
          content:
            application/json:
              example:
                detail: "(This is just an example, the exception may not be related\
                  \ to this endpoint) Cannot find resource AWS"
                error: 404
                errorCode: RESOURCE_NOT_FOUND
                parameters:
                - AWS
                reason: Not Found
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Not Found
        "500":
          content:
            application/json:
              example:
                detail: "(This is just an example, the exception may not be related\
                  \ to this endpoint)"
                error: 500
                errorCode: UNEXPECTED_ERROR
                parameters:
                - EXAMPLE
                reason: Internal Server Error
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Internal Server Error
      summary: Return the status of this MongoDB application
      tags:
      - Root
  /api/atlas/v1.0/alertConfigs/matchers/fieldNames:
    get:
      description: Get all field names that the matchers.fieldName parameter accepts
        when you create or update an Alert Configuration.
      operationId: returnAlertConfigMatchersFieldNames
      parameters:
      - description: "Flag that indicates whether Application wraps the response in\
          \ an `envelope` JSON object. Some API clients cannot access the HTTP response\
          \ headers or status code. To remediate this, set envelope=true in the query.\
          \ Endpoints that return a list of results use the results object as an envelope.\
          \ Application adds the status parameter to the response body."
        explode: true
        in: query
        name: envelope
        required: false
        schema:
          default: false
          example: false
          type: boolean
        style: form
      - description: Flag that indicates whether the response body should be in the
          prettyprint format.
        explode: true
        in: query
        name: pretty
        required: false
        schema:
          default: false
          example: false
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  enum:
                  - TYPE_NAME
                  - HOSTNAME
                  - PORT
                  - HOSTNAME_AND_PORT
                  - REPLICA_SET_NAME
                  - SHARD_NAME
                  - CLUSTER_NAME
                  - APPLICATION_ID
                  type: string
                type: array
          description: OK
        "401":
          content:
            application/json:
              example:
                detail: "(This is just an example, the exception may not be related\
                  \ to this endpoint)"
                error: 401
                errorCode: NOT_ORG_GROUP_CREATOR
                parameters:
                - EXAMPLE
                reason: Unauthorized
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Unauthorized
        "500":
          content:
            application/json:
              example:
                detail: "(This is just an example, the exception may not be related\
                  \ to this endpoint)"
                error: 500
                errorCode: UNEXPECTED_ERROR
                parameters:
                - EXAMPLE
                reason: Internal Server Error
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Internal Server Error
      security:
      - DigestAuth: []
      summary: Get All Alert Configuration Matchers Field Names
      tags:
      - Alert Configurations
  /api/atlas/v1.0/clusters:
    get:
      description: "Returns the details for all clusters in all projects to which\
        \ you have access. Clusters contain a group of hosts that maintain the same\
        \ data set. The response does not include multi-cloud clusters. To use this\
        \ resource, the requesting API Key can have any cluster-level role. This resource\
        \ doesn't require the API Key to have an Access List."
      operationId: returnAllAuthorizedClustersInAllProjects
      parameters:
      - description: "Flag that indicates whether Application wraps the response in\
          \ an `envelope` JSON object. Some API clients cannot access the HTTP response\
          \ headers or status code. To remediate this, set envelope=true in the query.\
          \ Endpoints that return a list of results use the results object as an envelope.\
          \ Application adds the status parameter to the response body."
        explode: true
        in: query
        name: envelope
        required: false
        schema:
          default: false
          example: false
          type: boolean
        style: form
      - description: Flag that indicates whether the response returns the total number
          of items (**totalCount**) in the response.
        explode: true
        in: query
        name: includeCount
        required: false
        schema:
          default: true
          example: true
          type: boolean
        style: form
      - description: Number of items that the response returns per page.
        explode: true
        in: query
        name: itemsPerPage
        required: false
        schema:
          default: 100
          example: 100
          maximum: 500
          minimum: 1
          type: integer
        style: form
      - description: Number of the page that displays the current set of the total
          objects that the response returns.
        explode: true
        in: query
        name: pageNum
        required: false
        schema:
          default: 1
          example: 1
          minimum: 1
          type: integer
        style: form
      - description: Flag that indicates whether the response body should be in the
          prettyprint format.
        explode: true
        in: query
        name: pretty
        required: false
        schema:
          default: false
          example: false
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedOrgGroupView'
          description: OK
        "401":
          content:
            application/json:
              example:
                detail: "(This is just an example, the exception may not be related\
                  \ to this endpoint)"
                error: 401
                errorCode: NOT_ORG_GROUP_CREATOR
                parameters:
                - EXAMPLE
                reason: Unauthorized
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Unauthorized
        "500":
          content:
            application/json:
              example:
                detail: "(This is just an example, the exception may not be related\
                  \ to this endpoint)"
                error: 500
                errorCode: UNEXPECTED_ERROR
                parameters:
                - EXAMPLE
                reason: Internal Server Error
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Internal Server Error
      security:
      - DigestAuth: []
      summary: Return All Authorized Clusters in All Projects
      tags:
      - Clusters
  /api/atlas/v1.0/federationSettings/{federationSettingsId}:
    delete:
      description: "Deletes the federation settings instance and all associated data,\
        \ including identity providers and domains. To use this resource, the requesting\
        \ API Key must have the Organization Owner role in the last remaining connected\
        \ organization. This resource doesn't require the API Key to have an Access\
        \ List. **Note**: requests to this resource will fail if there is more than\
        \ one connected organization in the federation."
      operationId: deleteFederationApp
      parameters:
      - description: Unique 24-hexadecimal digit string that identifies your federation.
        explode: false
        in: path
        name: federationSettingsId
        required: true
        schema:
          example: 55fa922fb343282757d9554e
          maxLength: 24
          minLength: 24
          pattern: "^([a-f0-9]{24})$"
          type: string
        style: simple
      responses:
        "204":
          description: No Content
        "400":
          content:
            application/json:
              example:
                detail: "(This is just an example, the exception may not be related\
                  \ to this endpoint) No provider AWS exists."
                error: 400
                errorCode: INVALID_PROVIDER
                parameters:
                - AWS
                reason: Bad Request
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Bad Request
        "401":
          content:
            application/json:
              example:
                detail: "(This is just an example, the exception may not be related\
                  \ to this endpoint)"
                error: 401
                errorCode: NOT_ORG_GROUP_CREATOR
                parameters:
                - EXAMPLE
                reason: Unauthorized
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Unauthorized
        "404":
          content:
            application/json:
              example:
                detail: "(This is just an example, the exception may not be related\
                  \ to this endpoint) Cannot find resource AWS"
                error: 404
                errorCode: RESOURCE_NOT_FOUND
                parameters:
                - AWS
                reason: Not Found
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Not Found
        "500":
          content:
            application/json:
              example:
                detail: "(This is just an example, the exception may not be related\
                  \ to this endpoint)"
                error: 500
                errorCode: UNEXPECTED_ERROR
                parameters:
                - EXAMPLE
                reason: Internal Server Error
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Internal Server Error
      security:
      - DigestAuth: []
      summary: Delete the federation settings instance.
      tags:
      - Federated Authentication
  /api/atlas/v1.0/federationSettings/{federationSettingsId}/connectedOrgConfigs:
    get:
      description: "Returns all connected org configs in the specified federation.\
        \ To use this resource, the requesting API Key must have the Organization\
        \ Owner role in one of the connected orgs. This resource doesn't require the\
        \ API Key to have an Access List."
      operationId: getAllConnectedOrgConfigs
      parameters:
      - description: Unique 24-hexadecimal digit string that identifies your federation.
        explode: false
        in: path
        name: federationSettingsId
        required: true
        schema:
          example: 55fa922fb343282757d9554e
          maxLength: 24
          minLength: 24
          pattern: "^([a-f0-9]{24})$"
          type: string
        style: simple
      - description: "Flag that indicates whether Application wraps the response in\
          \ an `envelope` JSON object. Some API clients cannot access the HTTP response\
          \ headers or status code. To remediate this, set envelope=true in the query.\
          \ Endpoints that return a list of results use the results object as an envelope.\
          \ Application adds the status parameter to the response body."
        explode: true
        in: query
        name: envelope
        required: false
        schema:
          default: false
          example: false
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/ConnectedOrgConfigView'
                type: array
          description: OK
        "400":
          content:
            application/json:
              example:
                detail: "(This is just an example, the exception may not be related\
                  \ to this endpoint) No provider AWS exists."
                error: 400
                errorCode: INVALID_PROVIDER
                parameters:
                - AWS
                reason: Bad Request
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Bad Request
        "401":
          content:
            application/json:
              example:
                detail: "(This is just an example, the exception may not be related\
                  \ to this endpoint)"
                error: 401
                errorCode: NOT_ORG_GROUP_CREATOR
                parameters:
                - EXAMPLE
                reason: Unauthorized
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Unauthorized
        "404":
          content:
            application/json:
              example:
                detail: "(This is just an example, the exception may not be related\
                  \ to this endpoint) Cannot find resource AWS"
                error: 404
                errorCode: RESOURCE_NOT_FOUND
                parameters:
                - AWS
                reason: Not Found
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Not Found
        "500":
          content:
            application/json:
              example:
                detail: "(This is just an example, the exception may not be related\
                  \ to this endpoint)"
                error: 500
                errorCode: UNEXPECTED_ERROR
                parameters:
                - EXAMPLE
                reason: Internal Server Error
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Internal Server Error
      summary: Return All Connected Org Configs from the Federation
      tags:
      - Federated Authentication
  /api/atlas/v1.0/federationSettings/{federationSettingsId}/connectedOrgConfigs/{orgId}:
    delete:
      description: "Removes one connected organization configuration from the specified\
        \ federation. To use this resource, the requesting API Key must have the Organization\
        \ Owner role. This resource doesn't require the API Key to have an Access\
        \ List. Note: This request fails if only one connected organization exists\
        \ in the federation."
      operationId: removeConnectedOrgConfig
      parameters:
      - description: Unique 24-hexadecimal digit string that identifies your federation.
        explode: false
        in: path
        name: federationSettingsId
        required: true
        schema:
          example: 55fa922fb343282757d9554e
          maxLength: 24
          minLength: 24
          pattern: "^([a-f0-9]{24})$"
          type: string
        style: simple
      - description: "Flag that indicates whether Application wraps the response in\
          \ an `envelope` JSON object. Some API clients cannot access the HTTP response\
          \ headers or status code. To remediate this, set envelope=true in the query.\
          \ Endpoints that return a list of results use the results object as an envelope.\
          \ Application adds the status parameter to the response body."
        explode: true
        in: query
        name: envelope
        required: false
        schema:
          default: false
          example: false
          type: boolean
        style: form
      - description: Unique 24-hexadecimal digit string that identifies the connected
          organization configuration to remove.
        explode: false
        in: path
        name: orgId
        required: true
        schema:
          example: 4888442a3354817a7320eb61
          maxLength: 24
          minLength: 24
          pattern: "^([a-f0-9]{24})$"
          type: string
        style: simple
      responses:
        "204":
          description: This endpoint does not return a response body.
        "400":
          content:
            application/json:
              example:
                detail: "(This is just an example, the exception may not be related\
                  \ to this endpoint) No provider AWS exists."
                error: 400
                errorCode: INVALID_PROVIDER
                parameters:
                - AWS
                reason: Bad Request
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Bad Request
        "401":
          content:
            application/json:
              example:
                detail: "(This is just an example, the exception may not be related\
                  \ to this endpoint)"
                error: 401
                errorCode: NOT_ORG_GROUP_CREATOR
                parameters:
                - EXAMPLE
                reason: Unauthorized
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Unauthorized
        "404":
          content:
            application/json:
              example:
                detail: "(This is just an example, the exception may not be related\
                  \ to this endpoint) Cannot find resource AWS"
                error: 404
                errorCode: RESOURCE_NOT_FOUND
                parameters:
                - AWS
                reason: Not Found
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Not Found
        "500":
          content:
            application/json:
              example:
                detail: "(This is just an example, the exception may not be related\
                  \ to this endpoint)"
                error: 500
                errorCode: UNEXPECTED_ERROR
                parameters:
                - EXAMPLE
                reason: Internal Server Error
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Internal Server Error
      security:
      - DigestAuth: []
      summary: Remove One Org Config Connected to One Federation
      tags:
      - Federated Authentication
    get:
      description: "Returns the specified connected org config from the specified\
        \ federation. To use this resource, the requesting API Key must have the Organization\
        \ Owner role in the connected org. This resource doesn't require the API Key\
        \ to have an Access List."
      operationId: getConnectedOrgConfig
      parameters:
      - description: Unique 24-hexadecimal digit string that identifies your federation.
        explode: false
        in: path
        name: federationSettingsId
        required: true
        schema:
          example: 55fa922fb343282757d9554e
          maxLength: 24
          minLength: 24
          pattern: "^([a-f0-9]{24})$"
          type: string
        style: simple
      - description: "Flag that indicates whether Application wraps the response in\
          \ an `envelope` JSON object. Some API clients cannot access the HTTP response\
          \ headers or status code. To remediate this, set envelope=true in the query.\
          \ Endpoints that return a list of results use the results object as an envelope.\
          \ Application adds the status parameter to the response body."
        explode: true
        in: query
        name: envelope
        required: false
        schema:
          default: false
          example: false
          type: boolean
        style: form
      - description: Unique 24-hexadecimal digit string that identifies the connected
          organization configuration to return.
        explode: false
        in: path
        name: orgId
        required: true
        schema:
          example: 4888442a3354817a7320eb61
          maxLength: 24
          minLength: 24
          pattern: "^([a-f0-9]{24})$"
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectedOrgConfigView'
          description: OK
        "400":
          content:
            application/json:
              example:
                detail: "(This is just an example, the exception may not be related\
                  \ to this endpoint) No provider AWS exists."
                error: 400
                errorCode: INVALID_PROVIDER
                parameters:
                - AWS
                reason: Bad Request
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Bad Request
        "401":
          content:
            application/json:
              example:
                detail: "(This is just an example, the exception may not be related\
                  \ to this endpoint)"
                error: 401
                errorCode: NOT_ORG_GROUP_CREATOR
                parameters:
                - EXAMPLE
                reason: Unauthorized
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Unauthorized
        "404":
          content:
            application/json:
              example:
                detail: "(This is just an example, the exception may not be related\
                  \ to this endpoint) Cannot find resource AWS"
                error: 404
                errorCode: RESOURCE_NOT_FOUND
                parameters:
                - AWS
                reason: Not Found
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Not Found
        "500":
          content:
            application/json:
              example:
                detail: "(This is just an example, the exception may not be related\
                  \ to this endpoint)"
                error: 500
                errorCode: UNEXPECTED_ERROR
                parameters:
                - EXAMPLE
                reason: Internal Server Error
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Internal Server Error
      security:
      - DigestAuth: []
      summary: Return One Org Config Connected to One Federation
      tags:
      - Federated Authentication
    patch:
      description: "Updates one connected organization configuration from the specified\
        \ federation. To use this resource, the requesting API Key must have the Organization\
        \ Owner role. This resource doesn't require the API Key to have an Access\
        \ List. \n\n**Note** If the organization configuration has no associated identity\
        \ provider, you can't use this resource to update role mappings or post authorization\
        \ role grants.  \n\n**Note**: The domainRestrictionEnabled field defaults\
        \ to false if not provided in the request. \n\n**Note**: If the identityProviderId\
        \ field is not provided, you will disconnect the organization and the identity\
        \ provider."
      operationId: updateConnectedOrgConfig
      parameters:
      - description: Unique 24-hexadecimal digit string that identifies your federation.
        explode: false
        in: path
        name: federationSettingsId
        required: true
        schema:
          example: 55fa922fb343282757d9554e
          maxLength: 24
          minLength: 24
          pattern: "^([a-f0-9]{24})$"
          type: string
        style: simple
      - description: "Flag that indicates whether Application wraps the response in\
          \ an `envelope` JSON object. Some API clients cannot access the HTTP response\
          \ headers or status code. To remediate this, set envelope=true in the query.\
          \ Endpoints that return a list of results use the results object as an envelope.\
          \ Application adds the status parameter to the response body."
        explode: true
        in: query
        name: envelope
        required: false
        schema:
          default: false
          example: false
          type: boolean
        style: form
      - description: Unique 24-hexadecimal digit string that identifies the connected
          organization configuration to update.
        explode: false
        in: path
        name: orgId
        required: true
        schema:
          example: 4888442a3354817a7320eb61
          maxLength: 24
          minLength: 24
          pattern: "^([a-f0-9]{24})$"
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConnectedOrgConfigView'
        description: The connected organization configuration that you want to update.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectedOrgConfigView'
          description: OK
        "400":
          content:
            application/json:
              example:
                detail: "(This is just an example, the exception may not be related\
                  \ to this endpoint) No provider AWS exists."
                error: 400
                errorCode: INVALID_PROVIDER
                parameters:
                - AWS
                reason: Bad Request
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Bad Request
        "401":
          content:
            application/json:
              example:
                detail: "(This is just an example, the exception may not be related\
                  \ to this endpoint)"
                error: 401
                errorCode: NOT_ORG_GROUP_CREATOR
                parameters:
                - EXAMPLE
                reason: Unauthorized
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Unauthorized
        "404":
          content:
            application/json:
              example:
                detail: "(This is just an example, the exception may not be related\
                  \ to this endpoint) Cannot find resource AWS"
                error: 404
                errorCode: RESOURCE_NOT_FOUND
                parameters:
                - AWS
                reason: Not Found
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Not Found
        "500":
          content:
            application/json:
              example:
                detail: "(This is just an example, the exception may not be related\
                  \ to this endpoint)"
                error: 500
                errorCode: UNEXPECTED_ERROR
                parameters:
                - EXAMPLE
                reason: Internal Server Error
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Internal Server Error
      security:
      - DigestAuth: []
      summary: Update one connected organization configuration in the specified federation.
      tags:
      - Federated Authentication
  /api/atlas/v1.0/federationSettings/{federationSettingsId}/connectedOrgConfigs/{orgId}/roleMappings:
    get:
      description: "Returns all role mappings from the specified organization in the\
        \ specified federation. To use this resource, the requesting API Key must\
        \ have the Organization Owner role. This resource doesn't require the API\
        \ Key to have an Access List."
      operationId: getAllRoleMappings
      parameters:
      - description: Unique 24-hexadecimal digit string that identifies your federation.
        explode: false
        in: path
        name: federationSettingsId
        required: true
        schema:
          example: 55fa922fb343282757d9554e
          maxLength: 24
          minLength: 24
          pattern: "^([a-f0-9]{24})$"
          type: string
        style: simple
      - description: "Flag that indicates whether Application wraps the response in\
          \ an `envelope` JSON object. Some API clients cannot access the HTTP response\
          \ headers or status code. To remediate this, set envelope=true in the query.\
          \ Endpoints that return a list of results use the results object as an envelope.\
          \ Application adds the status parameter to the response body."
        explode: true
        in: query
        name: envelope
        required: false
        schema:
          default: false
          example: false
          type: boolean
        style: form
      - description: Unique 24-hexadecimal digit string that identifies the organization
          that contains your projects.
        explode: false
        in: path
        name: orgId
        required: true
        schema:
          example: 4888442a3354817a7320eb61
          maxLength: 24
          minLength: 24
          pattern: "^([a-f0-9]{24})$"
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/RoleMappingView'
                type: array
          description: OK
        "400":
          content:
            application/json:
              example:
                detail: "(This is just an example, the exception may not be related\
                  \ to this endpoint) No provider AWS exists."
                error: 400
                errorCode: INVALID_PROVIDER
                parameters:
                - AWS
                reason: Bad Request
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Bad Request
        "401":
          content:
            application/json:
              example:
                detail: "(This is just an example, the exception may not be related\
                  \ to this endpoint)"
                error: 401
                errorCode: NOT_ORG_GROUP_CREATOR
                parameters:
                - EXAMPLE
                reason: Unauthorized
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Unauthorized
        "404":
          content:
            application/json:
              example:
                detail: "(This is just an example, the exception may not be related\
                  \ to this endpoint) Cannot find resource AWS"
                error: 404
                errorCode: RESOURCE_NOT_FOUND
                parameters:
                - AWS
                reason: Not Found
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Not Found
        "500":
          content:
            application/json:
              example:
                detail: "(This is just an example, the exception may not be related\
                  \ to this endpoint)"
                error: 500
                errorCode: UNEXPECTED_ERROR
                parameters:
                - EXAMPLE
                reason: Internal Server Error
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Internal Server Error
      security:
      - DigestAuth: []
      summary: Return All Role Mappings from One Organization
      tags:
      - Federated Authentication
    post:
      description: "Adds one role mapping to the specified organization in the specified\
        \ federation. To use this resource, the requesting API Key must have the Organization\
        \ Owner role. This resource doesn't require the API Key to have an Access\
        \ List."
      operationId: addRoleMapping
      parameters:
      - description: Unique 24-hexadecimal digit string that identifies your federation.
        explode: false
        in: path
        name: federationSettingsId
        required: true
        schema:
          example: 55fa922fb343282757d9554e
          maxLength: 24
          minLength: 24
          pattern: "^([a-f0-9]{24})$"
          type: string
        style: simple
      - description: "Flag that indicates whether Application wraps the response in\
          \ an `envelope` JSON object. Some API clients cannot access the HTTP response\
          \ headers or status code. To remediate this, set envelope=true in the query.\
          \ Endpoints that return a list of results use the results object as an envelope.\
          \ Application adds the status parameter to the response body."
        explode: true
        in: query
        name: envelope
        required: false
        schema:
          default: false
          example: false
          type: boolean
        style: form
      - description: Unique 24-hexadecimal digit string that identifies the organization
          that contains your projects.
        explode: false
        in: path
        name: orgId
        required: true
        schema:
          example: 4888442a3354817a7320eb61
          maxLength: 24
          minLength: 24
          pattern: "^([a-f0-9]{24})$"
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RoleMappingView'
        description: The role mapping that you want to create.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RoleMappingView'
          description: OK
        "400":
          content:
            application/json:
              example:
                detail: "(This is just an example, the exception may not be related\
                  \ to this endpoint) No provider AWS exists."
                error: 400
                errorCode: INVALID_PROVIDER
                parameters:
                - AWS
                reason: Bad Request
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Bad Request
        "401":
          content:
            application/json:
              example:
                detail: "(This is just an example, the exception may not be related\
                  \ to this endpoint)"
                error: 401
                errorCode: NOT_ORG_GROUP_CREATOR
                parameters:
                - EXAMPLE
                reason: Unauthorized
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Unauthorized
        "404":
          content:
            application/json:
              example:
                detail: "(This is just an example, the exception may not be related\
                  \ to this endpoint) Cannot find resource AWS"
                error: 404
                errorCode: RESOURCE_NOT_FOUND
                parameters:
                - AWS
                reason: Not Found
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Not Found
        "500":
          content:
            application/json:
              example:
                detail: "(This is just an example, the exception may not be related\
                  \ to this endpoint)"
                error: 500
                errorCode: UNEXPECTED_ERROR
                parameters:
                - EXAMPLE
                reason: Internal Server Error
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Internal Server Error
      security:
      - DigestAuth: []
      summary: Add One Role Mapping to One Organization
      tags:
      - Federated Authentication
  /api/atlas/v1.0/federationSettings/{federationSettingsId}/connectedOrgConfigs/{orgId}/roleMappings/{id}:
    delete:
      description: "Removes one role mapping in the specified organization from the\
        \ specified federation. To use this resource, the requesting API Key must\
        \ have the Organization Owner role. This resource doesn't require the API\
        \ Key to have an Access List."
      operationId: deleteRoleMapping
      parameters:
      - description: Unique 24-hexadecimal digit string that identifies your federation.
        explode: false
        in: path
        name: federationSettingsId
        required: true
        schema:
          example: 55fa922fb343282757d9554e
          maxLength: 24
          minLength: 24
          pattern: "^([a-f0-9]{24})$"
          type: string
        style: simple
      - description: Unique 24-hexadecimal digit string that identifies the role mapping
          that you want to remove.
        explode: false
        in: path
        name: id
        required: true
        schema:
          example: 4faca5b098702de1952f4d09
          maxLength: 24
          minLength: 24
          pattern: "^([a-f0-9]{24})$"
          type: string
        style: simple
      - description: "Flag that indicates whether Application wraps the response in\
          \ an `envelope` JSON object. Some API clients cannot access the HTTP response\
          \ headers or status code. To remediate this, set envelope=true in the query.\
          \ Endpoints that return a list of results use the results object as an envelope.\
          \ Application adds the status parameter to the response body."
        explode: true
        in: query
        name: envelope
        required: false
        schema:
          default: false
          example: false
          type: boolean
        style: form
      - description: Unique 24-hexadecimal digit string that identifies the organization
          that contains your projects.
        explode: false
        in: path
        name: orgId
        required: true
        schema:
          example: 4888442a3354817a7320eb61
          maxLength: 24
          minLength: 24
          pattern: "^([a-f0-9]{24})$"
          type: string
        style: simple
      responses:
        "204":
          description: No Content
        "400":
          content:
            application/json:
              example:
                detail: "(This is just an example, the exception may not be related\
                  \ to this endpoint) No provider AWS exists."
                error: 400
                errorCode: INVALID_PROVIDER
                parameters:
                - AWS
                reason: Bad Request
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Bad Request
        "401":
          content:
            application/json:
              example:
                detail: "(This is just an example, the exception may not be related\
                  \ to this endpoint)"
                error: 401
                errorCode: NOT_ORG_GROUP_CREATOR
                parameters:
                - EXAMPLE
                reason: Unauthorized
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Unauthorized
        "404":
          content:
            application/json:
              example:
                detail: "(This is just an example, the exception may not be related\
                  \ to this endpoint) Cannot find resource AWS"
                error: 404
                errorCode: RESOURCE_NOT_FOUND
                parameters:
                - AWS
                reason: Not Found
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Not Found
        "500":
          content:
            application/json:
              example:
                detail: "(This is just an example, the exception may not be related\
                  \ to this endpoint)"
                error: 500
                errorCode: UNEXPECTED_ERROR
                parameters:
                - EXAMPLE
                reason: Internal Server Error
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Internal Server Error
      security:
      - DigestAuth: []
      summary: Remove One Role Mapping from One Organization
      tags:
      - Federated Authentication
    get:
      description: "Returns one role mapping from the specified organization in the\
        \ specified federation. To use this resource, the requesting API Key must\
        \ have the Organization Owner role. This resource doesn't require the API\
        \ Key to have an Access List."
      operationId: getRoleMapping
      parameters:
      - description: Unique 24-hexadecimal digit string that identifies your federation.
        explode: false
        in: path
        name: federationSettingsId
        required: true
        schema:
          example: 55fa922fb343282757d9554e
          maxLength: 24
          minLength: 24
          pattern: "^([a-f0-9]{24})$"
          type: string
        style: simple
      - description: Unique 24-hexadecimal digit string that identifies the role mapping
          that you want to return.
        explode: false
        in: path
        name: id
        required: true
        schema:
          example: 4faca5b098702de1952f4d09
          maxLength: 24
          minLength: 24
          pattern: "^([a-f0-9]{24})$"
          type: string
        style: simple
      - description: "Flag that indicates whether Application wraps the response in\
          \ an `envelope` JSON object. Some API clients cannot access the HTTP response\
          \ headers or status code. To remediate this, set envelope=true in the query.\
          \ Endpoints that return a list of results use the results object as an envelope.\
          \ Application adds the status parameter to the response body."
        explode: true
        in: query
        name: envelope
        required: false
        schema:
          default: false
          example: false
          type: boolean
        style: form
      - description: Unique 24-hexadecimal digit string that identifies the organization
          that contains your projects.
        explode: false
        in: path
        name: orgId
        required: true
        schema:
          example: 4888442a3354817a7320eb61
          maxLength: 24
          minLength: 24
          pattern: "^([a-f0-9]{24})$"
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RoleMappingView'
          description: OK
        "400":
          content:
            application/json:
              example:
                detail: "(This is just an example, the exception may not be related\
                  \ to this endpoint) No provider AWS exists."
                error: 400
                errorCode: INVALID_PROVIDER
                parameters:
                - AWS
                reason: Bad Request
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Bad Request
        "401":
          content:
            application/json:
              example:
                detail: "(This is just an example, the exception may not be related\
                  \ to this endpoint)"
                error: 401
                errorCode: NOT_ORG_GROUP_CREATOR
                parameters:
                - EXAMPLE
                reason: Unauthorized
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Unauthorized
        "404":
          content:
            application/json:
              example:
                detail: "(This is just an example, the exception may not be related\
                  \ to this endpoint) Cannot find resource AWS"
                error: 404
                errorCode: RESOURCE_NOT_FOUND
                parameters:
                - AWS
                reason: Not Found
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Not Found
        "500":
          content:
            application/json:
              example:
                detail: "(This is just an example, the exception may not be related\
                  \ to this endpoint)"
                error: 500
                errorCode: UNEXPECTED_ERROR
                parameters:
                - EXAMPLE
                reason: Internal Server Error
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Internal Server Error
      security:
      - DigestAuth: []
      summary: Return One Role Mapping from One Organization
      tags:
      - Federated Authentication
    put:
      description: "Updates one role mapping in the specified organization in the\
        \ specified federation. To use this resource, the requesting API Key must\
        \ have the Organization Owner role. This resource doesn't require the API\
        \ Key to have an Access List."
      operationId: updateRoleMapping
      parameters:
      - description: Unique 24-hexadecimal digit string that identifies your federation.
        explode: false
        in: path
        name: federationSettingsId
        required: true
        schema:
          example: 55fa922fb343282757d9554e
          maxLength: 24
          minLength: 24
          pattern: "^([a-f0-9]{24})$"
          type: string
        style: simple
      - description: Unique 24-hexadecimal digit string that identifies the role mapping
          that you want to update.
        explode: false
        in: path
        name: id
        required: true
        schema:
          example: 4faca5b098702de1952f4d09
          maxLength: 24
          minLength: 24
          pattern: "^([a-f0-9]{24})$"
          type: string
        style: simple
      - description: "Flag that indicates whether Application wraps the response in\
          \ an `envelope` JSON object. Some API clients cannot access the HTTP response\
          \ headers or status code. To remediate this, set envelope=true in the query.\
          \ Endpoints that return a list of results use the results object as an envelope.\
          \ Application adds the status parameter to the response body."
        explode: true
        in: query
        name: envelope
        required: false
        schema:
          default: false
          example: false
          type: boolean
        style: form
      - description: Unique 24-hexadecimal digit string that identifies the organization
          that contains your projects.
        explode: false
        in: path
        name: orgId
        required: true
        schema:
          example: 4888442a3354817a7320eb61
          maxLength: 24
          minLength: 24
          pattern: "^([a-f0-9]{24})$"
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RoleMappingView'
        description: The role mapping that you want to update.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RoleMappingView'
          description: OK
        "400":
          content:
            application/json:
              example:
                detail: "(This is just an example, the exception may not be related\
                  \ to this endpoint) No provider AWS exists."
                error: 400
                errorCode: INVALID_PROVIDER
                parameters:
                - AWS
                reason: Bad Request
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Bad Request
        "401":
          content:
            application/json:
              example:
                detail: "(This is just an example, the exception may not be related\
                  \ to this endpoint)"
                error: 401
                errorCode: NOT_ORG_GROUP_CREATOR
                parameters:
                - EXAMPLE
                reason: Unauthorized
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Unauthorized
        "404":
          content:
            application/json:
              example:
                detail: "(This is just an example, the exception may not be related\
                  \ to this endpoint) Cannot find resource AWS"
                error: 404
                errorCode: RESOURCE_NOT_FOUND
                parameters:
                - AWS
                reason: Not Found
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Not Found
        "500":
          content:
            application/json:
              example:
                detail: "(This is just an example, the exception may not be related\
                  \ to this endpoint)"
                error: 500
                errorCode: UNEXPECTED_ERROR
                parameters:
                - EXAMPLE
                reason: Internal Server Error
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Internal Server Error
      security:
      - DigestAuth: []
      summary: Update One Role Mapping in One Organization
      tags:
      - Federated Authentication
  /api/atlas/v1.0/federationSettings/{federationSettingsId}/identityProviders:
    get:
      description: "Returns all identity providers in the specified federation. To\
        \ use this resource, the requesting API Key must have the Organization Owner\
        \ role in one of the connected organizations. This resource doesn't require\
        \ the API Key to have an Access List."
      operationId: getAllIdentityProviders
      parameters:
      - description: Unique 24-hexadecimal digit string that identifies your federation.
        explode: false
        in: path
        name: federationSettingsId
        required: true
        schema:
          example: 55fa922fb343282757d9554e
          maxLength: 24
          minLength: 24
          pattern: "^([a-f0-9]{24})$"
          type: string
        style: simple
      - description: "Flag that indicates whether Application wraps the response in\
          \ an `envelope` JSON object. Some API clients cannot access the HTTP response\
          \ headers or status code. To remediate this, set envelope=true in the query.\
          \ Endpoints that return a list of results use the results object as an envelope.\
          \ Application adds the status parameter to the response body."
        explode: true
        in: query
        name: envelope
        required: false
        schema:
          default: false
          example: false
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/IdentityProviderView'
                type: array
          description: OK
        "400":
          content:
            application/json:
              example:
                detail: "(This is just an example, the exception may not be related\
                  \ to this endpoint) No provider AWS exists."
                error: 400
                errorCode: INVALID_PROVIDER
                parameters:
                - AWS
                reason: Bad Request
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Bad Request
        "401":
          content:
            application/json:
              example:
                detail: "(This is just an example, the exception may not be related\
                  \ to this endpoint)"
                error: 401
                errorCode: NOT_ORG_GROUP_CREATOR
                parameters:
                - EXAMPLE
                reason: Unauthorized
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Unauthorized
        "404":
          content:
            application/json:
              example:
                detail: "(This is just an example, the exception may not be related\
                  \ to this endpoint) Cannot find resource AWS"
                error: 404
                errorCode: RESOURCE_NOT_FOUND
                parameters:
                - AWS
                reason: Not Found
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Not Found
        "500":
          content:
            application/json:
              example:
                detail: "(This is just an example, the exception may not be related\
                  \ to this endpoint)"
                error: 500
                errorCode: UNEXPECTED_ERROR
                parameters:
                - EXAMPLE
                reason: Internal Server Error
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Internal Server Error
      security:
      - DigestAuth: []
      summary: Return all identity providers from the specified federation.
      tags:
      - Federated Authentication
  /api/atlas/v1.0/federationSettings/{federationSettingsId}/identityProviders/{identityProviderId}:
    get:
      description: "Returns one identity provider from the specified federation. To\
        \ use this resource, the requesting API Key must have the Organization Owner\
        \ role in one of the connected organizations. This resource doesn't require\
        \ the API Key to have an Access List."
      operationId: getIdentityProvider
      parameters:
      - description: Unique 24-hexadecimal digit string that identifies your federation.
        explode: false
        in: path
        name: federationSettingsId
        required: true
        schema:
          example: 55fa922fb343282757d9554e
          maxLength: 24
          minLength: 24
          pattern: "^([a-f0-9]{24})$"
          type: string
        style: simple
      - description: Unique 20-hexadecimal digit string that identifies the identity
          provider.
        explode: false
        in: path
        name: identityProviderId
        required: true
        schema:
          example: c2777a9eca931f29fc2f
          maxLength: 20
          minLength: 20
          pattern: "^([a-f0-9]{20})$"
          type: string
        style: simple
      - description: "Flag that indicates whether Application wraps the response in\
          \ an `envelope` JSON object. Some API clients cannot access the HTTP response\
          \ headers or status code. To remediate this, set envelope=true in the query.\
          \ Endpoints that return a list of results use the results object as an envelope.\
          \ Application adds the status parameter to the response body."
        explode: true
        in: query
        name: envelope
        required: false
        schema:
          default: false
          example: false
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IdentityProviderView'
          description: OK
        "400":
          content:
            application/json:
              example:
                detail: "(This is just an example, the exception may not be related\
                  \ to this endpoint) No provider AWS exists."
                error: 400
                errorCode: INVALID_PROVIDER
                parameters:
                - AWS
                reason: Bad Request
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Bad Request
        "401":
          content:
            application/json:
              example:
                detail: "(This is just an example, the exception may not be related\
                  \ to this endpoint)"
                error: 401
                errorCode: NOT_ORG_GROUP_CREATOR
                parameters:
                - EXAMPLE
                reason: Unauthorized
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Unauthorized
        "404":
          content:
            application/json:
              example:
                detail: "(This is just an example, the exception may not be related\
                  \ to this endpoint) Cannot find resource AWS"
                error: 404
                errorCode: RESOURCE_NOT_FOUND
                parameters:
                - AWS
                reason: Not Found
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Not Found
        "500":
          content:
            application/json:
              example:
                detail: "(This is just an example, the exception may not be related\
                  \ to this endpoint)"
                error: 500
                errorCode: UNEXPECTED_ERROR
                parameters:
                - EXAMPLE
                reason: Internal Server Error
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Internal Server Error
      security:
      - DigestAuth: []
      summary: Return one identity provider from the specified federation.
      tags:
      - Federated Authentication
    patch:
      description: "Updates one identity provider in the specified federation. To\
        \ use this resource, the requesting API Key must have the Organization Owner\
        \ role in one of the connected organizations. This resource doesn't require\
        \ the API Key to have an Access List."
      operationId: updateIdentityProvider
      parameters:
      - description: Unique 24-hexadecimal digit string that identifies your federation.
        explode: false
        in: path
        name: federationSettingsId
        required: true
        schema:
          example: 55fa922fb343282757d9554e
          maxLength: 24
          minLength: 24
          pattern: "^([a-f0-9]{24})$"
          type: string
        style: simple
      - description: Unique 20-hexadecimal digit string that identifies the identity
          provider.
        explode: false
        in: path
        name: identityProviderId
        required: true
        schema:
          example: c2777a9eca931f29fc2f
          maxLength: 20
          minLength: 20
          pattern: "^([a-f0-9]{20})$"
          type: string
        style: simple
      - description: "Flag that indicates whether Application wraps the response in\
          \ an `envelope` JSON object. Some API clients cannot access the HTTP response\
          \ headers or status code. To remediate this, set envelope=true in the query.\
          \ Endpoints that return a list of results use the results object as an envelope.\
          \ Application adds the status parameter to the response body."
        explode: true
        in: query
        name: envelope
        required: false
        schema:
          default: false
          example: false
          type: boolean
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/IdentityProviderUpdate'
        description: The identity provider that you want to update.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IdentityProviderView'
          description: OK
        "400":
          content:
            application/json:
              example:
                detail: "(This is just an example, the exception may not be related\
                  \ to this endpoint) No provider AWS exists."
                error: 400
                errorCode: INVALID_PROVIDER
                parameters:
                - AWS
                reason: Bad Request
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Bad Request
        "403":
          content:
            application/json:
              example:
                detail: "(This is just an example, the exception may not be related\
                  \ to this endpoint)"
                error: 403
                errorCode: CANNOT_CHANGE_GROUP_NAME
                parameters:
                - EXAMPLE
                reason: Forbidden
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Forbidden
        "404":
          content:
            application/json:
              example:
                detail: "(This is just an example, the exception may not be related\
                  \ to this endpoint) Cannot find resource AWS"
                error: 404
                errorCode: RESOURCE_NOT_FOUND
                parameters:
                - AWS
                reason: Not Found
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Not Found
        "500":
          content:
            application/json:
              example:
                detail: "(This is just an example, the exception may not be related\
                  \ to this endpoint)"
                error: 500
                errorCode: UNEXPECTED_ERROR
                parameters:
                - EXAMPLE
                reason: Internal Server Error
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Internal Server Error
      security:
      - DigestAuth: []
      summary: Update the identity provider.
      tags:
      - Federated Authentication
  /api/atlas/v1.0/federationSettings/{federationSettingsId}/identityProviders/{identityProviderId}/metadata.xml:
    get:
      description: "Returns the metadata of one identity provider in the specified\
        \ federation. To use this resource, the requesting API Key must have the Organization\
        \ Owner role in one of the connected organizations. This resource doesn't\
        \ require the API Key to have an Access List."
      operationId: getIdentityProviderMetadata
      parameters:
      - description: Unique 24-hexadecimal digit string that identifies your federation.
        explode: false
        in: path
        name: federationSettingsId
        required: true
        schema:
          example: 55fa922fb343282757d9554e
          maxLength: 24
          minLength: 24
          pattern: "^([a-f0-9]{24})$"
          type: string
        style: simple
      - description: Unique 20-hexadecimal digit string that identifies the identity
          provider.
        explode: false
        in: path
        name: identityProviderId
        required: true
        schema:
          example: c2777a9eca931f29fc2f
          maxLength: 20
          minLength: 20
          pattern: "^([a-f0-9]{20})$"
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                type: string
          description: OK
        "400":
          content:
            application/json:
              example:
                detail: "(This is just an example, the exception may not be related\
                  \ to this endpoint) No provider AWS exists."
                error: 400
                errorCode: INVALID_PROVIDER
                parameters:
                - AWS
                reason: Bad Request
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Bad Request
        "401":
          content:
            application/json:
              example:
                detail: "(This is just an example, the exception may not be related\
                  \ to this endpoint)"
                error: 401
                errorCode: NOT_ORG_GROUP_CREATOR
                parameters:
                - EXAMPLE
                reason: Unauthorized
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Unauthorized
        "404":
          content:
            application/json:
              example:
                detail: "(This is just an example, the exception may not be related\
                  \ to this endpoint) Cannot find resource AWS"
                error: 404
                errorCode: RESOURCE_NOT_FOUND
                parameters:
                - AWS
                reason: Not Found
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Not Found
        "500":
          content:
            application/json:
              example:
                detail: "(This is just an example, the exception may not be related\
                  \ to this endpoint)"
                error: 500
                errorCode: UNEXPECTED_ERROR
                parameters:
                - EXAMPLE
                reason: Internal Server Error
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Internal Server Error
      security:
      - DigestAuth: []
      summary: Return the metadata of one identity provider in the specified federation.
      tags:
      - Federated Authentication
  /api/atlas/v1.0/groups:
    get:
      description: "Returns details about all projects. Projects group clusters into\
        \ logical collections that support an application environment, workload, or\
        \ both. Each project can have its own users, teams, security, and alert settings.\
        \ To use this resource, the requesting API Key must have the Read Write role.\
        \ This resource doesn't require the API Key to have an Access List."
      operationId: returnAllProjects
      parameters:
      - description: "Flag that indicates whether Application wraps the response in\
          \ an `envelope` JSON object. Some API clients cannot access the HTTP response\
          \ headers or status code. To remediate this, set envelope=true in the query.\
          \ Endpoints that return a list of results use the results object as an envelope.\
          \ Application adds the status parameter to the response body."
        explode: true
        in: query
        name: envelope
        required: false
        schema:
          default: false
          example: false
          type: boolean
        style: form
      - description: Flag that indicates whether the response returns the total number
          of items (**totalCount**) in the response.
        explode: true
        in: query
        name: includeCount
        required: false
        schema:
          default: true
          example: true
          type: boolean
        style: form
      - description: Number of items that the response returns per page.
        explode: true
        in: query
        name: itemsPerPage
        required: false
        schema:
          default: 100
          example: 100
          maximum: 500
          minimum: 1
          type: integer
        style: form
      - description: Number of the page that displays the current set of the total
          objects that the response returns.
        explode: true
        in: query
        name: pageNum
        required: false
        schema:
          default: 1
          example: 1
          minimum: 1
          type: integer
        style: form
      - description: Flag that indicates whether the response body should be in the
          prettyprint format.
        explode: true
        in: query
        name: pretty
        required: false
        schema:
          default: false
          example: false
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedAtlasGroupView'
          description: OK
        "400":
          content:
            application/json:
              example:
                detail: "(This is just an example, the exception may not be related\
                  \ to this endpoint) No provider AWS exists."
                error: 400
                errorCode: INVALID_PROVIDER
                parameters:
                - AWS
                reason: Bad Request
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Bad Request
        "404":
          content:
            application/json:
              example:
                detail: "(This is just an example, the exception may not be related\
                  \ to this endpoint) Cannot find resource AWS"
                error: 404
                errorCode: RESOURCE_NOT_FOUND
                parameters:
                - AWS
                reason: Not Found
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Not Found
        "500":
          content:
            application/json:
              example:
                detail: "(This is just an example, the exception may not be related\
                  \ to this endpoint)"
                error: 500
                errorCode: UNEXPECTED_ERROR
                parameters:
                - EXAMPLE
                reason: Internal Server Error
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Internal Server Error
      summary: Return All Projects
      tags:
      - Projects
    post:
      description: "Creates one project. Projects group clusters into logical collections\
        \ that support an application environment, workload, or both. Each project\
        \ can have its own users, teams, security, and alert settings. To use this\
        \ resource, the requesting API Key must have the Read Write role. This resource\
        \ doesn't require the API Key to have an Access List."
      operationId: createOneProject
      parameters:
      - description: "Flag that indicates whether Application wraps the response in\
          \ an `envelope` JSON object. Some API clients cannot access the HTTP response\
          \ headers or status code. To remediate this, set envelope=true in the query.\
          \ Endpoints that return a list of results use the results object as an envelope.\
          \ Application adds the status parameter to the response body."
        explode: true
        in: query
        name: envelope
        required: false
        schema:
          default: false
          example: false
          type: boolean
        style: form
      - description: Flag that indicates whether the response body should be in the
          prettyprint format.
        explode: true
        in: query
        name: pretty
        required: false
        schema:
          default: false
          example: false
          type: boolean
        style: form
      - description: "Unique 24-hexadecimal digit string that identifies the MongoDB\
          \ Cloud user to whom to grant the Project Owner role on the specified project.\
          \ If you set this parameter, it overrides the default value of the oldest\
          \ Organization Owner. "
        explode: true
        in: query
        name: projectOwnerId
        required: false
        schema:
          maxLength: 24
          minLength: 24
          pattern: "^([a-f0-9]{24})$"
          type: string
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiAtlasGroupView'
        description: Creates one project.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiAtlasGroupView'
          description: OK
        "400":
          content:
            application/json:
              example:
                detail: "(This is just an example, the exception may not be related\
                  \ to this endpoint) No provider AWS exists."
                error: 400
                errorCode: INVALID_PROVIDER
                parameters:
                - AWS
                reason: Bad Request
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Bad Request
        "401":
          content:
            application/json:
              example:
                detail: "(This is just an example, the exception may not be related\
                  \ to this endpoint)"
                error: 401
                errorCode: NOT_ORG_GROUP_CREATOR
                parameters:
                - EXAMPLE
                reason: Unauthorized
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Unauthorized
        "403":
          content:
            application/json:
              example:
                detail: "(This is just an example, the exception may not be related\
                  \ to this endpoint)"
                error: 403
                errorCode: CANNOT_CHANGE_GROUP_NAME
                parameters:
                - EXAMPLE
                reason: Forbidden
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Forbidden
        "404":
          content:
            application/json:
              example:
                detail: "(This is just an example, the exception may not be related\
                  \ to this endpoint) Cannot find resource AWS"
                error: 404
                errorCode: RESOURCE_NOT_FOUND
                parameters:
                - AWS
                reason: Not Found
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Not Found
        "409":
          content:
            application/json:
              example:
                detail: "(This is just an example, the exception may not be related\
                  \ to this endpoint) Cannot delete organization link while there\
                  \ is active migration in following project ids: 60c4fd418ebe251047c50554"
                error: 409
                errorCode: CANNOT_DELETE_ORG_LINK_WITH_RUNNING_LIVE_EXPORT
                parameters:
                - 60c4fd418ebe251047c50554
                reason: Conflict
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Conflict
        "500":
          content:
            application/json:
              example:
                detail: "(This is just an example, the exception may not be related\
                  \ to this endpoint)"
                error: 500
                errorCode: UNEXPECTED_ERROR
                parameters:
                - EXAMPLE
                reason: Internal Server Error
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Internal Server Error
      security:
      - DigestAuth: []
      summary: Create One Project
      tags:
      - Projects
  /api/atlas/v1.0/groups/byName/{groupName}:
    get:
      description: "Returns details about the specified project. Projects group clusters\
        \ into logical collections that support an application environment, workload,\
        \ or both. Each project can have its own users, teams, security, and alert\
        \ settings. To use this resource, the requesting API Key must have the Project\
        \ Read Only role. This resource doesn't require the API Key to have an Access\
        \ List."
      operationId: returnOneProjectUsingItsName
      parameters:
      - description: "Flag that indicates whether Application wraps the response in\
          \ an `envelope` JSON object. Some API clients cannot access the HTTP response\
          \ headers or status code. To remediate this, set envelope=true in the query.\
          \ Endpoints that return a list of results use the results object as an envelope.\
          \ Application adds the status parameter to the response body."
        explode: true
        in: query
        name: envelope
        required: false
        schema:
          default: false
          example: false
          type: boolean
        style: form
      - description: Flag that indicates whether the response body should be in the
          prettyprint format.
        explode: true
        in: query
        name: pretty
        required: false
        schema:
          default: false
          example: false
          type: boolean
        style: form
      - description: Human-readable label that identifies this project.
        explode: false
        in: path
        name: groupName
        required: true
        schema:
          maxLength: 64
          minLength: 1
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiAtlasGroupView'
          description: OK
        "400":
          content:
            application/json:
              example:
                detail: "(This is just an example, the exception may not be related\
                  \ to this endpoint) No provider AWS exists."
                error: 400
                errorCode: INVALID_PROVIDER
                parameters:
                - AWS
                reason: Bad Request
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Bad Request
        "401":
          content:
            application/json:
              example:
                detail: "(This is just an example, the exception may not be related\
                  \ to this endpoint)"
                error: 401
                errorCode: NOT_ORG_GROUP_CREATOR
                parameters:
                - EXAMPLE
                reason: Unauthorized
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Unauthorized
        "404":
          content:
            application/json:
              example:
                detail: "(This is just an example, the exception may not be related\
                  \ to this endpoint) Cannot find resource AWS"
                error: 404
                errorCode: RESOURCE_NOT_FOUND
                parameters:
                - AWS
                reason: Not Found
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Not Found
        "409":
          content:
            application/json:
              example:
                detail: "(This is just an example, the exception may not be related\
                  \ to this endpoint) Cannot delete organization link while there\
                  \ is active migration in following project ids: 60c4fd418ebe251047c50554"
                error: 409
                errorCode: CANNOT_DELETE_ORG_LINK_WITH_RUNNING_LIVE_EXPORT
                parameters:
                - 60c4fd418ebe251047c50554
                reason: Conflict
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Conflict
        "500":
          content:
            application/json:
              example:
                detail: "(This is just an example, the exception may not be related\
                  \ to this endpoint)"
                error: 500
                errorCode: UNEXPECTED_ERROR
                parameters:
                - EXAMPLE
                reason: Internal Server Error
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Internal Server Error
      summary: Return One Project using Its Name
      tags:
      - Projects
  /api/atlas/v1.0/groups/{groupId}:
    delete:
      description: "Removes the specified project. Projects group clusters into logical\
        \ collections that support an application environment, workload, or both.\
        \ Each project can have its own users, teams, security, and alert settings.\
        \ To use this resource, the requesting API Key must have the Project Owner\
        \ role. This resource doesn't require the API Key to have an Access List."
      operationId: removeOneProject
      parameters:
      - description: "Flag that indicates whether Application wraps the response in\
          \ an `envelope` JSON object. Some API clients cannot access the HTTP response\
          \ headers or status code. To remediate this, set envelope=true in the query.\
          \ Endpoints that return a list of results use the results object as an envelope.\
          \ Application adds the status parameter to the response body."
        explode: true
        in: query
        name: envelope
        required: false
        schema:
          default: false
          example: false
          type: boolean
        style: form
      - description: Unique 24-hexadecimal digit string that identifies your project.
        explode: false
        in: path
        name: groupId
        required: true
        schema:
          example: 32b6e34b3d91647abb20e7b8
          maxLength: 24
          minLength: 24
          pattern: "^([a-f0-9]{24})$"
          type: string
        style: simple
      - description: Flag that indicates whether the response body should be in the
          prettyprint format.
        explode: true
        in: query
        name: pretty
        required: false
        schema:
          default: false
          example: false
          type: boolean
        style: form
      responses:
        "204":
          description: This endpoint does not return a response body.
        "400":
          content:
            application/json:
              example:
                detail: "(This is just an example, the exception may not be related\
                  \ to this endpoint) No provider AWS exists."
                error: 400
                errorCode: INVALID_PROVIDER
                parameters:
                - AWS
                reason: Bad Request
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Bad Request
        "409":
          content:
            application/json:
              example:
                detail: "(This is just an example, the exception may not be related\
                  \ to this endpoint) Cannot delete organization link while there\
                  \ is active migration in following project ids: 60c4fd418ebe251047c50554"
                error: 409
                errorCode: CANNOT_DELETE_ORG_LINK_WITH_RUNNING_LIVE_EXPORT
                parameters:
                - 60c4fd418ebe251047c50554
                reason: Conflict
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Conflict
        "500":
          content:
            application/json:
              example:
                detail: "(This is just an example, the exception may not be related\
                  \ to this endpoint)"
                error: 500
                errorCode: UNEXPECTED_ERROR
                parameters:
                - EXAMPLE
                reason: Internal Server Error
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Internal Server Error
      security:
      - DigestAuth: []
      summary: Remove One Project
      tags:
      - Projects
    get:
      description: "Returns details about the specified project. Projects group clusters\
        \ into logical collections that support an application environment, workload,\
        \ or both. Each project can have its own users, teams, security, and alert\
        \ settings. To use this resource, the requesting API Key must have the Project\
        \ Read Only role. This resource doesn't require the API Key to have an Access\
        \ List."
      operationId: returnOneProject
      parameters:
      - description: "Flag that indicates whether Application wraps the response in\
          \ an `envelope` JSON object. Some API clients cannot access the HTTP response\
          \ headers or status code. To remediate this, set envelope=true in the query.\
          \ Endpoints that return a list of results use the results object as an envelope.\
          \ Application adds the status parameter to the response body."
        explode: true
        in: query
        name: envelope
        required: false
        schema:
          default: false
          example: false
          type: boolean
        style: form
      - description: Unique 24-hexadecimal digit string that identifies your project.
        explode: false
        in: path
        name: groupId
        required: true
        schema:
          example: 32b6e34b3d91647abb20e7b8
          maxLength: 24
          minLength: 24
          pattern: "^([a-f0-9]{24})$"
          type: string
        style: simple
      - description: Flag that indicates whether the response body should be in the
          prettyprint format.
        explode: true
        in: query
        name: pretty
        required: false
        schema:
          default: false
          example: false
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiAtlasGroupView'
          description: OK
        "400":
          content:
            application/json:
              example:
                detail: "(This is just an example, the exception may not be related\
                  \ to this endpoint) No provider AWS exists."
                error: 400
                errorCode: INVALID_PROVIDER
                parameters:
                - AWS
                reason: Bad Request
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Bad Request
        "404":
          content:
            application/json:
              example:
                detail: "(This is just an example, the exception may not be related\
                  \ to this endpoint) Cannot find resource AWS"
                error: 404
                errorCode: RESOURCE_NOT_FOUND
                parameters:
                - AWS
                reason: Not Found
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Not Found
        "500":
          content:
            application/json:
              example:
                detail: "(This is just an example, the exception may not be related\
                  \ to this endpoint)"
                error: 500
                errorCode: UNEXPECTED_ERROR
                parameters:
                - EXAMPLE
                reason: Internal Server Error
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Internal Server Error
      security:
      - DigestAuth: []
      summary: Return One Project
      tags:
      - Projects
  /api/atlas/v1.0/groups/{groupId}/accessList:
    get:
      description: "Returns all access list entries from the specified project's IP\
        \ access list. Each entry in the project's IP access list contains either\
        \ one IP address or one CIDR-notated block of IP addresses. MongoDB Cloud\
        \ only allows client connections to the cluster from entries in the project's\
        \ IP access list. To use this resource, the requesting API Key must have the\
        \ Project Read Only or Project Charts Admin roles. This resource doesn't require\
        \ the API Key to have an Access List."
      externalDocs:
        description: IP access list
        url: https://docs.atlas.mongodb.com/security/ip-access-list/#std-label-access-list
      operationId: returnProjectIpAccessList
      parameters:
      - description: "Flag that indicates whether Application wraps the response in\
[...]
